<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <center>
        <a href="/gigs/add">ADD GIG</a>
    </center>
    

     
    <form action="/gigs" method="get">
    sort by :  
    <select name="sortBy">
           
            <option <%=`${sortBy == "schedule" ? 'selected': ''}`%> value= "schedule" >
                date    
            </option>
            <option <%=`${sortBy == "price" ? 'selected': ''}`%> value= "price" >
                price    
            </option>
            <option <%=`${sortBy == "popularity" ? 'selected': ''}`%> value= "popularity" >
                popularity    
            </option>        
    </select>
    <select name="from">
           
    <option <%=`${from == "ASC" ? 'selected': ''}`%> value= "ASC" >
        ascending    
    </option>
    <option <%=`${from == "DESC" ? 'selected': ''}`%> value= "DESC" >
        descending    
    </option>  
    </select>
    
    filter by : 
        <input type="text" name="filterCategory" value="<%=filterCategory%>">
        <input type="submit" value="search">
    </form>
    <table style="width:70%" border=1>
        <tr>

            <th>
                <center>Name</center>
            </th>
            <th>
                <center>Venue</center>
            </th>
            <th>
                <center>Artist</center>
            </th>
            <th>
                <center>Schedule</center>
            </th>
            <th>
                <center>Price</center>
            </th>
            <th>
                <center>Action</center>
            </th>

            <% gigs.forEach(gig =>{ %>
        </tr>
        <tr>

            <td>
                <center>
                    <%= gig.name %>
                    
                </center>

            </td>

            <td>
                <center>
                        <%= gig.Venue== null ? 'coming soon' : gig.Venue.name %>

                </center>
            </td>
            <td>
                <center>
                        <%= gig.Artist == null ? 'test' : gig.Artist.name %>

                </center>
            </td>
            <td>
                <center>
                    <%= gig.schedule %>

                </center>
            </td>
            <td>
                <center>
                    <%= gig.price %>

                </center>
            </td>

            <td>
                <center>
                    <a href="/gigs/edit/<%=gig.id %>">EDIT</a> |
                    <a href="/gigs/delete/<%=gig.id %>">DELETE</a>
                </center>
            </td>
            <% }) %>
    </table>
</body>

</html>