<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
        <link rel="stylesheet" href="../../contents/styles/style.css">
</head>

<body>
    <%- include('../partials/nav') %>

        <section class="content bg-light">
            <div class="container">
                <div class="row">
                    <form action="/gigs" class="form-inline">
                        <div class="col">
                            <select name="sortBy" class="form-control">
                                <option <%-optionHelper.setSelected(sortBy, 'schedule')%> >schedule</option>
                                <option <%-optionHelper.setSelected(sortBy, 'price')%> >price</option>
                            </select>
                        </div>
                        <div class="col">
                            <select name="sortDir" class="form-control">
                                <option <%-optionHelper.setSelected(sortDir, 'asc')%> >asc</option>
                                <option <%-optionHelper.setSelected(sortDir, 'desc')%> >desc</option>
                            </select>
                        </div>
                        <div class="col">
                            <input type="text" placeholder="artist/genre" class="form-control" name="search" value="<%=search%>">
                        </div>
                        <input type="submit" class="btn btn-primary col" value="Search">
                    </form>
                </div>
                <br>
                <%if(currentUser && currentUser.isAdmin) {%>
                    <div class="row">
                        <a href="/gigs/add" role="button" class="btn btn-primary btn-lg"> + Register New Gig</a>
                    </div>
                    <br>
                    <%}%>
                        <%gigs.forEach(gig => {%>
                            <div class="row">
                            <div class="col-sm-6">
                            <div class="card mb-3">
                                <img class="card-img-top" src="../../contents/images/gig-default.svg" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="gig-name card-title">
                                        <a href="/gigs/<%=gig.id%>">
                                            <%-dateHelper.formatFullDate(gig.schedule)%>
                                        </a>
                                    </h5>
                                    <p class="gig-artist card-text">
                                        <a href="/artists/<%=gig.artistId%>">
                                            <%=`${gig.Artist ? gig.Artist.name : ''}`%>
                                        </a>
                                    </p>
                                    <p class="gig-venue card-text">
                                        <a href="/venues/<%=gig.venueId%>">
                                            <%=`${gig.Venue ? gig.Venue.name : ''}`%>
                                        </a>
                                    </p>
                                    <p>
                                        <form action="/tickets" method="POST">
                                            <div class="form-group">
                                                <input type="hidden" value="<%=gig.id%>" name="gigId" class="form-control">
                                                <input type="submit" role="button" class="btn btn-info" value="Buy ticket">
                                            </div>
                                        </form>
                                        <%if(currentUser && currentUser.isAdmin) {%>
                                            <a href="/gigs/<%=gig.id%>/edit" role="button" class="btn btn-success">Edit</a>
                                            <a href="/gigs/<%=gig.id%>/delete" role="button" class="btn btn-danger">Delete</a>
                                            <%}%>
                                    </p>
                                </div>
                            </div>
                        </div>
                            </div>
                            <%})%>
            </div>
        </section>
</body>

</html>