<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
        <link rel="stylesheet" href="../../contents/styles/style.css">
</head>

<body>
    <%- include('../partials/nav') %>
        <section class="content bg-light">
            <div class="container">
                <div class="row">
                    <h4>Edit Gig</h4>
                </div>
                <div class="row">
                    <form action="/gigs/<%=gig.id%>/edit" method="POST">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" name="name" value="<%=gig.name%>" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="schedule">Schedule</label>
                            <input type="datetime-local" name="schedule" value="<%-dateHelper.formatDateTimeLocale(gig.schedule)%>" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="price">Price</label>
                            <input type="number" name="price" value="<%=gig.price%>" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="artistId">Artist</label>
                            <select name="artistId" class="form-control">
                                <option value="">--Choose an artist--</a>
                                    <% artists.forEach(artist =>{ %>
                                        <option <%=`${ gig.artistId == artist.id ? 'selected' : '' }`%> value="<%=artist.id%>">
                                            <%=`${artist.name}`%>
                                        </option>
                                    <% }) %>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="venueId">Venue</label>
                            <select name="venueId" class="form-control">
                                <option value="">--Choose a venue--</a>
                                    <% venues.forEach(venue =>{ %>
                                        <option <%=`${ gig.venueId == venue.id ? 'selected' : '' }`%> value="<%=venue.id%>">
                                            <%=`${venue.name}`%>
                                        </option>
                                    <% }) %>
                            </select>
                        </div>
                        <a href="/gigs" role="button" class="btn btn-secondary">Cancel</a>
                        <input type="submit" role="button" class="btn btn-success" value="Edit">
                    </form>
                </div>
                <%- include('../partials/validation')%>
            </div>
        </section>
</body>

</html>