<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="../../contents/styles/style.css">
</head>

<body>
    <%- include('../partials/nav') %>
    <section class="content bg-light">
            <div class="container">
                <div class="row">
                    <h4>Artists</h4>
                </div>
                <br>
                <div class="row">
                    <a href="artists/add" role="button" class="btn btn-primary">+ Add Artist</a>
                </div>
                <br>
                <div class="row">
                    <table class="table table-bordered">
                        <thead>
                            <th>No.</th>
                            <th>Name</th>
                            <th>Genre</th>
                            <th>Action</th>
                        </thead>
                        <tbody>
                            <%let i = 0%>
                            <%artists.forEach(artist => {%>
                                <tr>
                                    <td><%=`${++i}`%></td>
                                    <td>
                                        <%=`${artist.name}`%>
                                    </td>
                                    <td>
                                        <%=`${artist.genre}`%>
                                    </td>
                                    <td>
                                        <a href="/artists/<%=artist.id%>/edit" role="button" class="btn btn-success">Edit</a>&emsp;
                                        <a href="/artists/<%=artist.id%>/delete" role="button" class="btn btn-danger">Delete</a>
                                    </td>
                                </tr>
                                <%})%>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
</body>

</html>