<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
        <link rel="stylesheet" href="../../contents/styles/style.css">
</head>

<body>
    <%- include('../partials/nav') %>
        <section class="content bg-light">
            <div class="container">
                <div class="row">
                    <h4>Delete Artist</h4>
                </div>
                <br>
                <div class="row">
                    <form action="/artists/<%=artist.id%>/delete" method="post">
                        <dl class="dl-horizontal">
                            <dt>Name</dt>
                            <dd>
                                <%=`${artist.name}`%>
                            </dd>
                            <dt>Genre</dt>
                            <dd>
                                <%=`${artist.genre}`%>
                            </dd>
                        </dl>
                        <input type="submit" role="btn" class="btn btn-danger" value="Delete">
                    </form>
                </div>
            </div>
        </section>
</body>

</html>